<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="antiqueId" value="#{antiqueEdit.antiqueId}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="2">
                <f:facet name="header">
                    <h:outputText value="#{msg.addEditAntique}"/>
                </f:facet>
                <h:outputLabel value="#{msg.name}" for="name"/>
                <h:inputText id="name" value="#{antiqueEdit.antique.name}"/>

                <h:outputLabel value="#{msg.productionDate}" for="prod"/>
                <h:inputText id="prod" value="#{antiqueEdit.antique.productionDate}"/>

                <h:outputLabel value="#{msg.originCountry}" for="country"/>
                <h:selectOneRadio id="country" value="#{antiqueEdit.antique.originCountry}" converter="countriesConverter">
                    <f:selectItems value="#{antiqueEdit.countries}"/>
                </h:selectOneRadio>

                <h:outputLabel value="#{msg.price}" for="price"/>
                <h:inputText id="price" value="#{antiqueEdit.antique.price}"/>

                <h:outputLabel value="#{msg.availability}" for="availability"/>
                <h:selectOneRadio id="availability" value="#{antiqueEdit.antique.availability}" disabled="#{antiqueEdit.getAvailabilityEditCheck(antiqueEdit.antiqueId)}">
                    <f:selectItems value="#{antiqueEdit.availability}"/>
                </h:selectOneRadio>

            </h:panelGrid>
            <h:commandButton actionListener="#{antiqueEdit.updateAntique}" value="#{msg.saveAntique}" action="antiques_view"/>

        </h:form>
    </ui:define>
</ui:composition>

