<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      template="/template.xhtml">
    <ui:define name="content">
        <h:button outcome="basket_view" value="#{msg.shoppingCart}"/>
        <h:dataTable var="antique" value="#{antiqueView.antiqueList}">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="#{msg.name}"/>
                </f:facet>
                #{antique.name}
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="#{msg.productionDate}"/>
                </f:facet>
                #{antique.productionDate}
            </h:column>
            <h:column converter="countriesConverter">
                <f:facet name="header">
                    <h:outputText value="#{msg.originCountry}"/>
                </f:facet>
                #{antique.originCountry}
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="#{msg.price}"/>
                </f:facet>
                #{antique.price}
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="#{msg.availability}"/>
                </f:facet>
                #{antique.availability}
            </h:column>
            <h:column>
                <h:button outcome="antiques_edit" value="#{msg.editAntique}">
                    <f:param name="antiqueId" value="#{antique.id}"/>
                </h:button>
            </h:column>
            <h:column>
                <h:form>
                    <h:commandButton action="#{antiqueView.addAntiqueToBasketView(antique)}" value="#{msg.addToBasket}"
                    disabled="#{antiqueView.addedToBasket(antique)}"/>
                </h:form>
            </h:column>
        </h:dataTable>
        <h:button outcome="antiques_edit" value="#{msg.addNewAntique}">
            <f:param name="antiqueId"  value="0"/>
        </h:button>
    </ui:define>
</ui:composition>
