<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/template.xhtml">
    <ui:define name="content">
        <h:dataTable var="antique" value="#{antiqueView.antiquesFromBasket}">

            <h:column>
                <f:facet name="header">
                    <h:outputText value="#{msg.name}"/>
                </f:facet>
                #{antique.name}
            </h:column>

            <h:column>
                <f:facet name="header">
                    <h:outputText value="#{msg.productionDate}"/>
                </f:facet>
                #{antique.productionDate}
            </h:column>

            <h:column converter="countriesConverter">
                <f:facet name="header">
                    <h:outputText value="#{msg.originCountry}"/>
                </f:facet>
                #{antique.originCountry}
            </h:column>

            <h:column>
                <f:facet name="header">
                    <h:outputText value="#{msg.price}"/>
                </f:facet>
                #{antique.price}
            </h:column>

            <h:column>
                <h:form>
                    <h:commandButton action="#{antiqueView.removeAntiqueFromBasket(antique)}" value="#{msg.remove}"/>
                </h:form>
            </h:column>

        </h:dataTable>

        <h:form>
            <h:panelGrid columns="1">
                <f:facet name="header">
                    <h:outputText value="#{msg.clientData}"/>
                </f:facet>

                <h:column>
                    <h:outputText value="#{msg.namee}"/>
                    <h:inputText value="#{clientAdd.client.name}" required="true"/>
                </h:column>

                <h:column>
                    <h:outputText value="#{msg.surname}"/>
                    <h:inputText value="#{clientAdd.client.surname}" required="true" />
                </h:column>

            </h:panelGrid>

            <h:commandButton value="#{msg.submitAnOrder}" actionListener="#{clientAdd.submitOrders}" action="antiques_view" disabled="#{empty(basketView.antiquesInBasket)}"/>
        </h:form>


    </ui:define>
</ui:composition>
