<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>AntiqueStore</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="Lavish antique store" />
        <meta name="keywords" content="store, antiques" />
        <meta name="author" content="gap210" />
        <f:loadBundle basename="pl.codementors.homework6.view.msg" var="msg"/>
    </h:head>
    <h:body>
        <header>
            <h1>#{msg.antiqueStore}</h1>

        </header>
        <nav>
            <ul>
                <li><h:link outcome="antiques_view" value="#{msg.antiqueStore}"/></li>
            </ul>
        </nav>
        <section>
            <ui:insert name="content"/>
        </section>
    </h:body>
</html>
